.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: 348px) {
    width: 348px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

