<section>
    <div class="container container-booking">
       
    <h2 class="text-booking">Booking Details</h2>
   
    <div class="container-booking-number">
        <div class="container-booking-position background-color" >
            <p class="booking-position-number  ">1</p>
        </div>
          <div class="container-booking-position" >
            <p class="booking-position-number color-blue ">2</p></div>
          <div class="container-booking-position" >
            <p class="booking-position-number color-blue ">3</p></div>
    </div>
    <div class="container-div">
    <h2 class="text-booking-info">Reservation Info</h2>
  
    <div class="container-about-price" >
        
      
                        <img src="./images/jpeg/Rectangl.jpg" alt="bedroom1" class="booking-img">
                   
                    <div class="container-booking-about">
                        <h2 class="text-about">Wilderness Club at Big Ceddar</h2>
                        <ul class="booking-list-about">
                            <li class="bookings-item-about">
                  <svg class="post-svg" height="20px" width="20px">
          
                    <use href="/src/images/svg/free-icon-font-bed-alt-7856997.svg#font-bed-alt"></use>
                </svg>
                <p class="booking-item-title">4 Beds</p>
                            </li>
                            <li class="bookings-item-about">
                  <svg class="post-svg" height="20px" width="20px">
          
                    <use href="/src/images/svg/free-icon-font-user-3917559.svg#font-user"></use>
                </svg>
                <p class="booking-item-title">8 Sleeps</p>
                            </li>
                                  <li class="bookings-item-about">
                  <svg class="post-svg" height="20px" width="20px">
          
                    <use href="/src/images/svg/free-icon-font-arrow-up-right-and-arrow-down-left-from-center-8535611.svg#font-arrow-up"></use>
                </svg>
                <p class="booking-item-title">1,350 Sq Ft</p>
                            </li>
                        </ul>
                        <div class="bookingstep1-list-price">
<div class="booking-item-price">
 <h2 class="title-list">Arrival Date</h2>
  <h2 class="title-list">Departure Date</h2>
   <h2 class="title-list">Total Nighrs</h2>
   <h2 class="title-list">Rate</h2>
    <h2 class="title-list">Discount</h2>
     <h2 class="title-list">Community Fee</h2>
      <h2 class="title-list">Tax</h2>
      <h2 class="title-list">Total</h2>
                        </div>
                        <div class="booking-item-price ">
                            <p class="title-information">October 28, 2022</p>
                            <p class="title-information">November 03, 2022</p>
                            <p class="title-information color-blue">6</p>
                             <p class="title-information color-red">$2016</p>
                             <p class="title-information color-blue">Apply Coupon Code</p>
                             <p class="title-information color-blue">$149</p>
                             <p class="title-information color-blue">$143.25</p>
                                <p class="title-information color-blue">$2308.25</p>
                        </div>
                        </div>
                        
                    </div>
                  
                    </div>
                    
                      <button class="booking-button-price">Next Step</button> 
                     
    </div>
 
    </div>
</section>