<section class="footer">
     <div class="container">
        <div class="container-footer-section">
        <ul class="footer-list-section">
            <li class="footer-item-section">
<h2 class="footer-text-section">Title of section</h2>
<p class="footer-title-section">Page title</p>
<p class="footer-title-section">Page title</p>
<p class="footer-title-section">Page title</p>

            </li>
            <li class="footer-item-section">
                <h2 class="footer-text-section">Title of section</h2>
<p class="footer-title-section">Page title</p>
<p class="footer-title-section">Page title</p>
<p class="footer-title-section">Page title</p>

            </li>
            <li class="footer-item-section">
                <h2 class="footer-text-section">Title of section</h2>
<p class="footer-title-section">Page title</p>
<p class="footer-title-section">Page title</p>
<p class="footer-title-section">Page title</p>

            </li>
          

        </ul>

        <div class="container-footer-form">
            <h2 class="footer-text-form">Subscribe to Newsletter</h2>
<p class="footer-title-form">Your email</p>
<div class="container-footer-button">
             

<!--  -->
    <input class="footer-input" type="text" name="username" placeholder="email" />
     
    <button class="footer-input-button" type="submit">
          <svg class="footer-input-svg" height="50px" width="50px">
          
                    <use href="/src/images/svgfooter/symbol-defs.svg#icon-icon-send-1"></use>
                </svg>
    </button>
       

</div>
  </div>

</div>
        
    
        <div class="container-network">
            
        <h2 class="network-text">
         Your<span class="network-text-span">.logo</span>
        </h2>
        
        <p class="network-title"> Design by<a class="network-link" href="http://localhost:1234/"> Delving</a></p>
      
        <ul class="network-list" >
             <li class="container-footer-network"></li>
            <!-- <div class="container-footer-network"> -->
                 <a class="footer-network-link" href="/src/booking.html">
                <svg class="footer-network-svg" width="12" height="12">
                       <use href="/src/images/svgfooter/symbol-defs.svg#icon-twitter-1"></use>
               </svg>
            </a>
                <!-- </div>  -->
        </li>


        <li class="container-footer-network">
            <!-- <div class="container-footer-network"> -->
                 <a class="footer-network-link" href="">
                <svg class="footer-network-svg" width="12" height="12">
                       <use href="/src/images/svgfooter/symbol-defs.svg#icon-instagram-2"></use>
               </svg>
            </a>
           
                <!-- </div> -->
        </li>

         <li class="container-footer-network">
            <!-- <div class="container-footer-network"> -->
                 <a class="footer-network-link" href="">
                <svg class="footer-network-svg" width="12" height="12">
                       <use href="/src/images/svgfooter/symbol-defs.svg#icon-twitter-1"></use>
               </svg>
            </a>
                <!-- </div>  -->
        </li>

        

         <li class="container-footer-network">
            <!-- <div class="container-footer-network"> -->
                 <a class="footer-network-link" href="">
                <svg class="footer-network-svg" width="12" height="12">
                       <use href="/src/images/svgfooter/symbol-defs.svg#icon-facebook-1"></use>
               </svg>
            </a>
                <!-- </div> -->
        </li>

         <li class="container-footer-network">
            <!-- <div class="container-footer-network"> -->
                  <a class="footer-network-link" href="">
                <svg class="footer-network-svg" width="12" height="12">
                       <use href="/src/images/svgfooter/symbol-defs.svg#icon-icon-send-1"></use>
               </svg>
            </a>
                <!-- </div> -->
                
        </li>
         <li class="container-footer-network">
            <!-- <div class="container-footer-network"> -->
                  <a class="footer-network-link" href="">
                <svg class="footer-network-svg" width="12" height="12">
                       <use href="/src/images/svgfooter/symbol-defs.svg#icon-linkedin-1"></use>
               </svg>
            </a>
                <!-- </div> -->
                
        </li>
        </ul>
          </div>
        
    </div>
    </div>
</section>