<header class="header">
  <!-- logo -->
  <div class="container header-container">
    <a class="header-logo">
      <span lang="en">Your</span
      ><span lang="en" class="header__logo--color">.logo</span>
    </a>

    <!-- navigation list -->
    <div>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a>Last Minute Deals</a>
          </li>
          <li>
            <a>Blog</a>
          </li>
          <li>
            <a>About Us</a>
          </li>
          <li>
            <a>Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- additional info list -->
    <div>
      <ul class="info-list">
        <li>
          <button>$</button>
        </li>
        <li>
          <button>EN</button>
        </li>
        <li>
          <button>sign up</button>
        </li>
      </ul>
    </div>
  </div>
</header>
