<main>
    <section class="hero-section">
        <div class="container">
            <div class="hero-container__inner">
                <h1 class="hero-title">Find an apartment for your vacation</h1>
                <p class="hero-text">We have several thousand apartments 
                    <br>for every taste in every corner of the globe
                    </br>
                </p>
            </div>

            <div class="order-details">
                <ul class="order-details__list">
                    <li>
                        <a href='' class="order-details__button">Where <span class="order-details__button--text">Search Destination</span></a>
                    </li>
                    <li>
                        <a href="" class="order-details__button">When <span class="order-details__button--text">Select Date</span></a>
                    </li>
                    <li>
                        <a href="" class="order-details__button"></a>
                    </li>
                </ul>
            </div>
        </div>
        
    </section>
</main>