<main>
    <section class="hero-section">
        <div class="container">
            <div class="hero-container__inner">
                <h1 class="hero-title">Find an apartment for your vacation</h1>
                <p class="hero-text">We have several thousand apartments 
                    <br>for every taste in every corner of the globe
                    </br>
                </p>
            </div>

            <div class="order-details">
                <ul class="order-details__list">
                    <li>
                        <a href='' class="order-details__button">
                            <svg class="order-details__icon" width="22px" height="22px">
                                <use href="./images/svg/symbol-defs1.svg#icon-location"></use>
                            </svg>
                            <div class="order-details__wrapper">
                            <span class="order-details__button--text">Search Destination</span>
                            Where 
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="order-details__button">
                            <svg class="order-details__icon" width="22px" height="22px">
                                <use href="./images/svg/symbol-defs1.svg#icon-calendar-svgrepo-com"></use>
                            </svg>
                            <div class="order-details__wrapper">
                            <span class="order-details__button--text">Select Date</span>
                            When 
                        </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="order-details__button order-details__button--round">
                            <svg class="order-details__icon order-details__icon--color" width="22px" height="22px">
                                <use href="./images/svg/symbol-defs1.svg#icon-search"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </section>
</main>