<section class="last-minute__section">
  <div class="container last-minute__container">
    <h1 class="last-minute__title">Last Minute Deals</h1>
    <div class="order-details order-details--last-minute">
      <ul class="order-details__list">
        <li>
          <a href="" class="order-details__button">
            <svg class="order-details__icon" width="22px" height="22px">
              <use href="./images/svg/symbol-defs1.svg#icon-location"></use>
            </svg>
            <div class="order-details__wrapper">
              <span class="order-details__button--text"
                >Search Destination</span
              >
              Where
            </div>
          </a>
        </li>
        <li class="order-details--display-none">
          <a href="" class="order-details__button">
            <svg class="order-details__icon" width="22px" height="22px">
              <use
                href="./images/svg/symbol-defs1.svg#icon-calendar-svgrepo-com"
              ></use>
            </svg>
            <div class="order-details__wrapper">
              <span class="order-details__button--text">Select Date</span>
              When
            </div>
          </a>
        </li>
        <li>
          <a href="" class="order-details__button order-details__button--round">
            <svg
              class="order-details__icon order-details__icon--color"
              width="22px"
              height="22px"
            >
              <use href="./images/svg/symbol-defs1.svg#icon-search"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="last-minute__buttons-group" role="group">
      <a href="" class="last-minute__link">Show on map</a>
      <div class="last-minute__buttons-innergroup">
        <button class="last-minute__button">
          <svg class="icon-filter" width="24" height="24">
            <use href="./images/svg/filter.svg#filter"></use>
          </svg>
          Filter
        </button>
        <!-- custom select -->
        <div class="last-minute__select-wrapper">
          <span class="last-minute__select-text">Sort by</span>
          <button
            class="last-minute__select-button"
            role="combobox"
            aria-label="select button"
            aria-haspopup="listbox"
            aria-expanded="false"
            aria-controls="select-dropdown"
          >
            <span class="selected-value">Relevance</span>
            <span class="arrow"></span>
          </button>
          <ul class="select-dropdown" role="listbox" id="select-dropdown">
            <li role="option">
              <input type="radio" id="newest" name="variant" />
              <label for="newest">Newest</label>
            </li>
            <li role="option">
              <input type="radio" id="rating" name="variant" />
              <label for="rating">Rating</label>
            </li>
            <li role="option">
              <input type="radio" id="discount" name="variant" />
              <label for="discount">Discount</label>
            </li>
            <li role="option">
              <input type="radio" id="low-to-high" name="variant" />
              <label for="low-to-high">Low to High</label>
            </li>
            <li role="option">
              <input type="radio" id="high-to-low" name="variant" />
              <label for="high-to-low">High to low</label>
            </li>
            <!-- ... -->
          </ul>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <ul class="special-offers__list last-minute__list">
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/bedroom2.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/bedroom3.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/bedroom1.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-0.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-1.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-2.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-3.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-4.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-5.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-6.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-7.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
      <li class="special-offers__item">
        <article class="special-offers__card">
          <div class="special-offers__wrapper">
            <img
              src="./images/jpeg/Rectangle9-8.jpg"
              alt="bedroom1"
              class="special-offers__img"
            />
          </div>

          <div>
            <h3 class="special-offers__subtitle">
              Wilderness Club at Big Ceddar
            </h3>
            <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
            <p class="special-offers__date">28 October — 1 November</p>
            <span class="special-offers__price">$2016</span>
            <span class="special-offers__visit">/6 night</span>
            <div class="special-offers__iconwrapper">
              <span class="special-offers__icon bed"> 4 Beds </span>
              <span class="special-offers__icon visitor"> 8 Sleeps </span>
              <span class="special-offers__icon area"> 1,350 Sq Ft </span>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
