<section>
<div class="container container-posts">
    <h2 class="posts-text">Recent posts</h2>
    
    <ul class="posts-list">
 <li class="posts-item">
  <div class="posts-wrapper">
                        <img src="./images/jpeg/Rectangle.jpg" alt="bedroom1" class="posts-img">
                    </div>
                    <div class="container-title">
<p class="posts-title-date">May 23, 2022</p>
<div class="container-svg">
<svg class="post-svg" height="15px" width="15px">
          
                    <use href="/src/images/svg/symbol-defs.svg#icon-clock"></use>
                </svg>
<p class="posts-title-hour" >5 minutes</p>
</div>
</div>
<h2 class="post-text-trip">My trip to Athens</h2>

<p class="posts-item-about" >It would seem that in a city where Theseus, Plato and Epicurus once walked, the very idea of the subway is alien to the city, but already...</p>
        </li>

        <li class="posts-item">
  <div class="posts-wrapper">
                        <img src="./images/jpeg/Rectangl.jpg" alt="bedroom1" class="posts-img">
                    </div>
                    <div class="container-title">
                        
<p class="posts-title-date">May 22, 2022</p>
<div class="container-svg">
<svg class="post-svg" height="15px" width="15px">
          
                    <use href="/src/images/svg/symbol-defs.svg#icon-clock"></use>
                </svg>
<p class="posts-title-hour" >1 minutes</p>
</div>
                    </div>
<h2 class="post-text-trip">Vilnius resorts</h2>

<p class="posts-item-about" >It would seem that in a city where Theseus, Plato and Epicurus once walked, the very idea of the subway is alien to the city, but already...</p>
        </li>

          <li class="posts-item">
  <div class="posts-wrapper">
                        <img src="./images/jpeg/Plate.jpg" alt="bedroom1" class="posts-img">
                    </div>
                    <div class="container-title">

<p class="posts-title-date">May 20, 2022</p>
<div class="container-svg">
<svg class="post-svg" height="15px" width="15px">
          
                    <use href="/src/images/svg/symbol-defs.svg#icon-clock"></use>
                </svg>
<p class="posts-title-hour" > 15 minutes</p>
    </div>
                    </div>
<h2 class="post-text-trip">Tips for flying on a plane</h2>

<p class="posts-item-about" >It would seem that in a city where Theseus, Plato and Epicurus once walked, the very idea of the subway is alien to the city, but already...</p>
        </li>
    </ul>
   
</div>
</section>