<section class="reviews">
    <div class="container reviews__container">
        <h2 class="reviews__title">Reviews</h2>
        <div class="reviews__wrapper">
            <ul class="reviews__list">
                <li class="reviews__item">
                    <article class="reviews__card">
                        <img src="./images/png/reviewer1.png" alt="reviewer1" class="reviews__img">
                        <div class="reviews__text-wrapper">
                        <p class="reviews__text">
                            I quickly found the right tour for me, but I had a few questions about the hotel, I wrote to tech support and they answered all my questions within an hour. The vacation itself was perfect. Thank you very much. I will come back again and again.
                        </p>
                        <p class="reviews__subtitle">Jannike Borg, <span class="reviews__span">Publisher</span></p>
                    </div>
                    </article>
                </li>
                <li class="reviews__item">
                    <article class="reviews__card">
                        <img src="./images/png/reviewer2.png" alt="reviewer2" class="reviews__img">
                        <div class="reviews__text-wrapper">
                        <p class="reviews__text">
                            I quickly found the right tour for me, but I had a few questions about the hotel, I wrote to tech support and they answered all my questions within an hour. The vacation itself was perfect. Thank you very much. I will come back again and again.
                        </p>
                        <p class="reviews__subtitle">LeBron Durant, <span class="reviews__span">Flight attendant</span></p>
                    </div>
                    </article>
                </li>
                <li class="reviews__item">
                    <article class="reviews__card">
                        <img src="./images/png/reviewer3.png" alt="reviewer3" class="reviews__img">
                        <div class="reviews__text-wrapper">
                        <p class="reviews__text">
                            I quickly found the right tour for me, but I had a few questions about the hotel, I wrote to tech support and they answered all my questions within an hour. The vacation itself was perfect. Thank you very much. I will come back again and again.
                        </p>
                        <p class="reviews__subtitle">Kaarel Piho, <span class="reviews__span">Chiropodist</span></p>
                    </div>
                    </article>
                </li>

                <li class="reviews__item">
                    <article class="reviews__card">
                        <img src="./images/png/reviewer1.png" alt="reviewer1" class="reviews__img">
                        <div class="reviews__text-wrapper">
                        <p class="reviews__text">
                            I quickly found the right tour for me, but I had a few questions about the hotel, I wrote to tech support and they answered all my questions within an hour. The vacation itself was perfect. Thank you very much. I will come back again and again.
                        </p>
                        <p class="reviews__subtitle">Jannike Borg, <span class="reviews__span">Publisher</span></p>
                    </div>
                    </article>
                </li>
                <li class="reviews__item">
                    <article class="reviews__card">
                        <img src="./images/png/reviewer2.png" alt="reviewer2" class="reviews__img">
                        <div class="reviews__text-wrapper">
                        <p class="reviews__text">
                            I quickly found the right tour for me, but I had a few questions about the hotel, I wrote to tech support and they answered all my questions within an hour. The vacation itself was perfect. Thank you very much. I will come back again and again.
                        </p>
                        <p class="reviews__subtitle">LeBron Durant, <span class="reviews__span">Flight attendant</span></p>
                    </div>
                    </article>
                </li>
                <li class="reviews__item">
                    <article class="reviews__card">
                        <img src="./images/png/reviewer3.png" alt="reviewer3" class="reviews__img">
                        <div class="reviews__text-wrapper">
                        <p class="reviews__text">
                            I quickly found the right tour for me, but I had a few questions about the hotel, I wrote to tech support and they answered all my questions within an hour. The vacation itself was perfect. Thank you very much. I will come back again and again.
                        </p>
                        <p class="reviews__subtitle">Kaarel Piho, <span class="reviews__span">Chiropodist</span></p>
                    </div>
                    </article>
                </li>
            </ul>
        </div>
        <button type="submit" class="reviews__button">More reviews</button>
    </div>
</section>