<section class="special-offers">
    <div class="special-offers__container container">
        <h2 class="special-offers__title">Special offers</h2>
         <ul class="special-offers__list">
            <li class="special-offers__item">
                <article class="special-offers__card">
                    <div>
                        <img src="./images/jpeg/bedroom1.jpg" alt="bedroom1" class="special-offers__img">
                    </div>
                    
                    <div>
                        <h3 class="special-offers__subtitle">Wilderness Club at Big Ceddar</h3>
                        <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
                        <p class="special-offers__date">28 October — 1 November</p>
                        <span class="special-offers__price">$2016</span>
                        <span class="special-offers__visit">/6 night</span>
                        <div>
                            <span>
                                4 Beds
                            </span>
                            <span>
                                8 Sleeps
                            </span>
                            <span>
                                1,350 Sq Ft
                            </span>
                        </div>
                    </div>
            </article>
        </li>
            <li class="special-offers__item">
                <article class="special-offers__card">
                    <div>
                        <img src="./images/jpeg/bedroom2.jpg" alt="bedroom1" class="special-offers__img">
                    </div>
                    
                    <div>
                        <h3 class="special-offers__subtitle">Wilderness Club at Big Ceddar</h3>
                        <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
                        <p class="special-offers__date">28 October — 1 November</p>
                        <span class="special-offers__price">$2016</span>
                        <span class="special-offers__visit">/6 night</span>
                        <div>
                            <span>
                                4 Beds
                            </span>
                            <span>
                                8 Sleeps
                            </span>
                            <span>
                                1,350 Sq Ft
                            </span>
                        </div>
                    </div>
            </article>
        </li>
            <li class="special-offers__item">
                <article class="special-offers__card">
                    <div>
                        <img src="./images/jpeg/bedroom3.jpg" alt="bedroom1" class="special-offers__img">
                    </div>
                    
                    <div>
                        <h3 class="special-offers__subtitle">Wilderness Club at Big Ceddar</h3>
                        <p class="special-offers__desk">2 Bedroom Combined Lodge</p>
                        <p class="special-offers__date">28 October — 1 November</p>
                        <span class="special-offers__price">$2016</span>
                        <span class="special-offers__visit">/6 night</span>
                        <div>
                            <span>
                                4 Beds
                            </span>
                            <span>
                                8 Sleeps
                            </span>
                            <span>
                                1,350 Sq Ft
                            </span>
                        </div>
                    </div>
            </article>
        </li>
        </ul> 
    </div>
</section>