<section class="special-offers">
    <div class="special-offers__container container">
        <h2 class="special-offers__title">Special offers</h2>
        <ul>
            <li>
                <article class="special-offers__card">
                    <img src="" alt="">
                    <div>
                        <h4></h4>
                        <p></p>
                    </div>
            </article>
        </li>
            <li>
                <article class="special-offers__card">

            </article>
        </li>
            <li>
                <article class="special-offers__card">

            </article>
        </li>
        </ul>
    </div>
</section>