 <section class="choose">
    <div class="container-choose-main container ">
 <div class="containers"> 
<h2 class="choose-title">Why <span class="choose-title-color">Choose</span> Us</h2>


    <p class="choose-text">The main reason is because our competitors have disgusting sites, but we can' t write that here, so the text here will be different</p>

</div>
<div class="container-choose">
<ul class="choose-list">
    <li class="choose-item">
       <div class="choose-list-container">
                  <svg class="choose-list__svg" height="50px" width="50px">
          
                    <use href="/src/images/choose.svg#icon-creditcards"></use>
                </svg>
       </div>
        <h2 class="choose-item-title">Payment methods</h2>
        <p class="choose-item-text">We have a lot of them, from cryptocurrencies to barter for potatoes</p>
    </li>
    <li class="choose-item">
         <div class="choose-list-container">
                <svg class="choose-list__svg" height="50px" width="50px">
          
                    <use href="/src/images/choose.svg#icon-search"></use>
                </svg>
       </div>
        <h2 class="choose-item-title">Simple search process</h2>
        <p class="choose-item-text">
We checked it out, even the kid did it, but it was my mom's friend's son
        </p>
    </li>
    <li class="choose-item">
         <div class="choose-list-container">
                  <svg class="choose-list__svg" height="50px" width="50px">
          
                    <use href="/src/images/choose.svg#icon-headphones"></use>
                </svg>
       </div>
        <h2 class="choose-item-title">24/7 Support</h2>
        <p class="choose-item-text">Is there something you don't understand? Feel free to call us. Phone number in the footer</p>
    </li>
    <li class="choose-item">
         <div class="choose-list-container">
                  <svg class="choose-list__svg" height="50px" width="50px">
          
                    <use href="/src/images/choose.svg#icon-github"></use>
                </svg>
       </div>
        <h2 class="choose-item-title">We are nice</h2>
        <p class="choose-item-text">Fantasy is over, there will be something really convincing here</p>
    </li>
</ul> 
</div> 
</div>
</section>