.header {
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.header-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  color: #2a90d9;
}

.header__logo--color {
  color: #ee685f;
}

.main-nav-list {
  display: flex;
  gap: 40px;
}

.nav-text {
  font-size: 16px;
  color: #262729;
}

.info-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.info-button {
  //display: inline-flex;
  //align-items: center;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  color: #ee685f;

  &__underline::after {
    position: absolute;
    width: 100%;
    height: 0px;
    content: attr(data-underline);
    right: -1px;
    bottom: 15px;
    background: #ee685f;
  }
}

.icon {
  fill: #fff;
  stroke: #ee685f;
  //background-position: center;
}

// .use  {
//   width: 100%;
//   height: 100%;
//   fill: #ee685f;
//   //stroke: #262729;
//   //background-position: center;
// }
