.header {
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.header-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
.header-logo {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  color: #2a90d9;
}
.header__logo--color {
  color: #ee685f;
}

.main-nav-list {
  display: flex;
  gap: 40px;
}

.info-list {
  display: flex;
  gap: 30px;
}
