.last-minute {
  &__section {
    @media screen and (min-width: 1280px) {
      padding-top: 80px;
      padding-bottom: 100px;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-size: 28px;
    text-align: center;

    color: #262729;

    @media screen and (min-width: 1280px) {
      margin-bottom: 60px;
      font-size: 48px;
      font-weight: 700;
    }
  }

  &__list {
    @media screen and (min-width: 1280px) {
      flex-wrap: wrap;
    }
  }

  &__buttons-group {
    @media screen and (min-width: 1280px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }
  }

  &__buttons-innergroup {
    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
      //row-gap: 30px;
    }
  }

  &__link {
    display: inline-block;
    width: 168px;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.001em;
    color: #ee685f;
    background-color: #fff;
    border: 1px solid #ee685f;
    border-radius: 10px;

    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: #fff;
    background-color: #ee685f;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: none;
    margin-right: 30px;
    font-size: 18px;
    color: #ee685f;
    background-color: transparent;

    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  &__button:hover,
  &__button:focus {
    color: #2A90D9;
  }
}

.icon-filter {
  margin-right: 8px;
  fill: currentColor;
  
}

.last-minute__select {
  position: relative;
  display: block;
  width: 118px;

  font-size: 18px;
  border: none;
  color: #ee685f;
  background-color: transparent;
  outline: none;

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2A90D9;
  }

}

.last-minute__select-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  //width: 118px;
  max-width: 100%;
  
}

.last-minute__select-button {
  display: flex;
  align-items: center;

  width: 118px;
  gap: 8px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ee685f;
  background-color: transparent;

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2A90D9;
  }

}

.last-minute__select-wrapper .selected-value {
  //text-align: left;
}

.last-minute__select-wrapper .arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #ee685f;
  transition: transform ease-in-out 0.3s;
}

.last-minute__select-wrapper.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.select-dropdown {
  position: absolute;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 4px;
  padding: 10px;
  margin-top: 230px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s ease;

  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.select-dropdown:focus-within {
  box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
}

.select-dropdown::-webkit-scrollbar {
  width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.select-dropdown li:hover,
.select-dropdown input:checked ~ label {
  background-color: #f2f2f2;
}

.select-dropdown input:focus ~ label {
  background-color: #dfdfdf;
}

.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}



.order-details--last-minute {
  @media screen and (min-width: 1280px) {
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }
}
