.special-offers {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: 1280px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.special-offers__title {
  margin-bottom: 64px;
  font-size: 28px;
  text-align: center;

  color: #262729;

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
    font-size: 40px;
  }
}

.special-offers__list {
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 30px;
  }
}

.special-offers__item {
  max-width: 328px;
  padding: 12px 12px 22px;
  border: 1px solid #e7e6eb;
  border-radius: 5px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1280px) {
    max-width: 370px;
    padding: 10px 10px 19px;
  }
}

.special-offers__item:not(:last-child) {
  @media screen and (max-width: 1279px) {
    margin-bottom: 16px;
  }
}

.special-offers__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.special-offers__wrapper {
  display: flex;
  justify-content: center;
}

.special-offers__img {
  max-width: 100%;
  margin-bottom: 24px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;  
  }
  
}

.special-offers__subtitle {
  font-weight: 500;
  font-size: 22px;
  color: #262729;
  letter-spacing: 0.001em;
}

.special-offers__desk {
  margin-bottom: 5px;
  font-size: 16px;
  color: #858585;
}

.special-offers__date {
  margin-bottom: 16px;
  font-size: 18px;
  color: #262729;

  @media screen and (min-width: 1280px) {
  margin-bottom: 15px;
  }
}

.special-offers__price {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 30px;
  color: #2a90d9;
}

.special-offers__visit {
  font-size: 18px;
  color: #2a90d9;
}

.special-offers__iconwrapper {
    @media screen and (max-width: 1279px) {
        display: none;
    }
  display: flex;
  gap: 20px;
}

.special-offers__icon {
  display: inline-flex;
  align-items: baseline;
  font-size: 16px;
  letter-spacing: 0.001em;
}

.special-offers__icon::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.special-offers__icon.bed::before {
  background-image: url('../images/svg/free-icon-font-bed-alt-7856997.svg');
  background-size: contain;
  background-position: center;
}

.special-offers__icon.visitor::before {
  background-image: url('../images/svg/free-icon-font-user-3917559.svg');
  background-size: contain;
  background-position: center;
}

.special-offers__icon.area::before {
  background-image: url('../images/svg/free-icon-font-arrow-up-right-and-arrow-down-left-from-center-8535611.svg');
  background-size: contain;
  background-position: center;
}
