
.choose{
    
background-color: #F7F7F7;


}


.choose-title{

@media screen and (min-width: 348px) {
    font-weight: 328px;
        line-height: 2.1;
        font-size: 28px;
        color: #000000;
        margin: 0;
        padding-bottom: 17px;
       
    }

    @media screen and (min-width: 1280px) {
        font-weight: 600px;
            line-height: 1.2;
            font-size: 40px;
            color: #000000;
            margin: 0;
            padding-bottom: 35px;

    }

}
.choose-title-color{

@media screen and (min-width: 348px) {
    color: #000000;
    }

    @media screen and (min-width: 1280px) {
    color: rgba(137, 132, 132, 0.75);
        -webkit-text-stroke: 1px #333;

    }
}

.containers{
    display: block;
    text-align: center; 
margin-bottom: 45px;
}



.container-choose-main{
padding-top: 68px;
padding-bottom: 64px;
@media screen and (min-width: 348px) {
        padding-top: 64px;
            padding-bottom: 64px;
    }

    @media screen and (min-width: 1280px) {
    padding-top: 68px;
        padding-bottom: 64px;

    }
}


.choose-text {

    text-align: center;
    align-items: center;
    
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: auto;
        margin-right: auto;
   
    @media screen and (min-width: 348px) {}
        width: 328px;
                  font-weight: 400px;
                  font-size: 20px;
                  line-height: 1.4;
                                  height: 140px;
                                  
                                  
        @media screen and (min-width: 1280px) {
            font-weight: 400px;
            font-size: 20px;
            line-height: 1.4;
            width: 570px;
            height: 84px;
       }
    
    
}


.container-choose {
    display: flex;
    justify-content: center;
    align-items: center
}


.choose-list {

    list-style: none;
@media screen and (min-width: 348px) {

    padding-left: 0;
margin: 0;
}

    @media screen and (min-width: 1280px) {
display: flex;

    padding: 0;
    justify-content: center;
    align-items: center;
    width: 1170px;
    justify-content: first baseline;
    }
}

.choose-list-container{
    width: 100px;
        height: 100px;
        background-color:#bfdcf0 ;
        color:rgba(109, 88, 204, 0.732);
        margin-left:auto;
        margin-right: auto;
        border-radius: 50%;
        display: flex;
            align-items: center;
            justify-content: center;
        
}
.choose-item-text{
  
    text-align: center;
    margin: 0px;

    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        line-height: 1.4
}

.choose-item-title {
    text-align: center;
margin-top: 12.5px;
margin-bottom: 12.5px;
    font-weight: 600px;
    font-size: 20px;
    line-height: 1;
}
.choose-item{
    width: 270px;
   
   
@media screen and (min-width: 348px) {

width: 328px;
    margin-right: 0px;
    margin-bottom: 32px;

       
    }

    @media screen and (min-width: 1280px) {
    width: 270px;
        margin-right: 30px;
    }
   
}

.choose-item:nth-child(4n) {
    margin-right: 0;
    @media screen and (min-width: 348px) {
        margin-bottom: 0px;
    
        }
        @media screen and (min-width: 1280px) {
        margin-right: 0;
        }
}




